--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.9.0
torchvision==0.24.0
transformers>=4.35.0
datasets>=2.15.0
hydra-core>=1.3.2
omegaconf>=2.3.0
timm>=0.9.12
einops>=0.7.0
pillow>=10.0.0
numpy>=1.26.4
scipy>=1.11.0
scikit-learn>=1.3.0
matplotlib>=3.8.0
tensorboard>=2.14.0
tqdm>=4.66.0
pandas>=2.0.0
opencv-python>=4.11.0
accelerate>=0.24.0
ipython>=8.12.0
jupyter>=1.0.0
notebook3>=6.5.0
boto3   # needed for downloading Open Images Dataset
pyarrow
huggingface_hub # needed for downloading Birdsnap datasets