# @package _global_
model:
  name: dino_v2
  architecture: vit_base_patch8_224  # actual image size will be overridden by data.image_size

  # Vision Transformer settings
  vit:
    image_size: 96 # overrides the timm architecture's image size
    patch_size: 8 # overrides the timm architecture's patch size
    drop_path_rate: 0.15  # slightly more regularization for 500k images (TODO: reduce to 0.1 for > 500K training images)
    mlp_ratio: 4.0

    # ViT-Small (default)
    embed_dim: 384
    depth: 12
    num_heads: 6

    # ViT-Base
    # embed_dim: 768
    # depth: 12
    # num_heads: 12



  # DINOv2 specific settings
  dino:
    out_dim: 65536
    bottleneck_dim: 256
    norm_last_layer: true
    momentum_teacher: 0.996
    momentum_teacher_end: 1.0
    teacher_temp: 0.07
    warmup_teacher_temp: 0.04
    warmup_teacher_temp_epochs: 30
    student_temp: 0.1

    # Multi-crop settings (balanced for accuracy/runtime)
    global_crops_scale: [0.25, 1.0]
    local_crops_scale: [0.05, 0.4]
    local_crops_number: 4

  # Pretrained weights
  pretrained: null
